@use "../abstracts" as *;

h1 {
    @include font (rem(45), $font-bold);
    line-height: rem(50);

    @include respond-to(medium) {
        @include font (rem(35));
    }
    @include respond-to(small) {
        @include font (rem(25));
        line-height: rem(35);
    }
}

h2 {
    font-family: $font-inika;
    @include font (rem(40), $font-regular);
    line-height: rem(52);
    @include respond-to(medium) {
        @include font (rem(35));
        line-height: rem(46);
    }
    @include respond-to(small) {
        @include font (rem(25));
        line-height: rem(33);
    }
}

p {
    @include font(rem(16), $font-regular);
    line-height: rem(20);
}