@use "../abstracts" as *;

.dropdown {
    cursor: pointer;
    @include size(rem(450), rem(50));
    padding-left: rem(20);
    @include font(rem(20));
    line-height: rem(40);
    letter-spacing: 0.05em;
    color: $color-text-primary-grey;
    background-color: $color-background-accordion;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include css3-prefix(appearance, none);

    &.active {
        background-color: $color-background-dropdown-active;
    }

    &__option {
        color: $color-text-green;
        @include font(rem(16));
        background-color: $color-background-accordion;
        // margin-right: rem(50);
        // border-bottom: 1px solid $color-text-primary-grey;
        // line-height: rem(35);

        // &:hover{
        //     color: $color-text-primary-grey;
        // }

        // &:first-child{
        //     margin-top: rem(27);
        // }
        // &:last-child{
        //     margin-bottom: rem(32);
        // }
    }
}