@use "../abstracts" as *;

.about {
    background-color: $color-background-white;
    padding: rem(93) 0;
    font-family: $font-inter;

    @include respond-to(medium) {
        padding: rem(40) 0 rem(95);
    }
    @include respond-to(small) {
        padding: rem(30) 0;
    }

    &__container {
        @include flex(row, space-between);

        @include respond-to(medium) {
            @include flex;
            gap: rem(40);
        }
        @include respond-to(medium) {
            gap: 0;
        }
    }

    &__content {
        width: min(52%, rem(605));
        @include flex;
        gap:rem(40);

        @include respond-to(medium) {
            width: 100%;
        }
        @include respond-to(small) {
            gap:rem(20);
        }
    }
    &__title {
        margin-right: rem(142);
        @include respond-to(medium) {
            margin-inline: rem(122);
            text-align: center;
        }
        @include respond-to(small) {
            margin: 0;
        }
    }
    &__text {
        @include font(rem(20));
        line-height: rem(35);
        margin-bottom: rem(6);

        @include respond-to(medium) {
            @include font(rem(16));
            line-height: rem(25);
            margin-bottom: 0;
        }
    }

    &__image, &__image img {
        @include size(rem(464), rem(479));

        @include respond-to(large) {
            @include size(rem(250), rem(258));
        }
        @include respond-to(small) {
            @include size(rem(150), rem(147));
        }
    }
}