@use "../abstracts" as *;

.price {
    padding: rem(40) 0 rem(115);
    
    @include respond-to(medium) {
        padding: rem(40) 0 rem(88);
    }

    @include respond-to(small) {
        text-align: center;
        padding: rem(25) 0 rem(40);
    }

    &__container {
        @include flex(row, space-between, flex-start);
        
        @include respond-to(small) {
            @include flex;
            gap:rem(19);
        }
    }

    &__prices {
        @include flex(column, center, flex-start);
        gap: rem(60);
        
        @include respond-to(medium) {
            gap: rem(50);
        }
        @include respond-to(small) {
            gap: rem(40);
        }
    }

    &__title {
        @include font(rem(40), $font-bold);
        line-height: rem(48);
        color: $color-text-black;
        font-family: $font-inter;

        @include respond-to (medium) {
            @include font(rem(35), $font-bold);
            line-height: rem(42);
        }
        @include respond-to (medium) {
            @include font(rem(25), $font-bold);
            line-height: rem(30);
        }
    }

    &__box {
        border: rem(1) solid $color-border-card;
        border-radius: rem(20);
        padding: rem(34) rem(41);
        width: rem(332);
        @include flex;
        gap: rem(32);
        
        @include respond-to(small) {
            padding: rem(29) rem(22);
            width: rem(224);
            gap: rem(14);
        }
    }

    &__content{
        @include flex;
        align-items: flex-end;
        width: max(37%, rem(296));
        @include respond-to (small) {
            align-items: center;
            width: max(rem(230), 60%);
        }
    }

    &__heading{
        @include font(rem(40), $font-bold);
        line-height: rem(50);
        color: $color-text-black;
        margin-bottom: rem(38);
        text-align: right;
        @include respond-to (medium) {
            margin-bottom: rem(21.5);
            @include font(rem(25), $font-bold);
            line-height: rem(35);
        }
        @include respond-to (small) {
            margin-bottom: rem(14);
            text-align: center;
            @include font(rem(20), $font-bold);
            line-height: rem(35);
        }
    }

    &__btn{
        margin-bottom: rem(39);
        @include respond-to (medium) {
            margin-bottom: rem(34);
        }
        @include respond-to (small) {
            margin-bottom: 0;
        }
    }

    &__image{
        @include size(rem(152), rem(175));

        @include respond-to(small) {
            display: none;
        }
    }
}